@model BDPPMaster.Models.Player

<div class="col-xs-3 loginPlayer center">
    <img class="profileImage" src="@Url.Content("~/Content/images/" + @Model.Avatar)" /><br />
    <div class="screenName">@Model.ScreenName</div>
</div>