@model  List<BDPPMaster.Models.Player>
@{
    ViewBag.Title = "Number of Games Played";
}

@{
    List<BDPPMaster.Models.Player> players = Model.OrderByDescending(o => o.GamesPlayed).ToList();
}
<h3>@ViewBag.Title</h3>
<table class="table table-bordered table-striped">
    <tr class="table-title">
        <td>User</td>
        <td>Number of Games Played</td>
    </tr>

    @foreach (var player in players)
    {
        <tr>
            <td>@player.ScreenName</td>
            <td>@player.GamesPlayed</td>
        </tr>
    }


</table>

