@model List<BDPPMaster.Models.Player>
@{
    ViewBag.Title = "GameOptions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



@*<div class="row">
        @foreach (var player in Model)
        {
            Html.RenderPartial("_loginPlayer", player);
        }
</div>*@

<button onclick="helloClicked()">Hello</button>