@model List<BDPPMaster.Models.Player>
@{
    ViewBag.Title = "GameOptions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<button onclick="helloClicked()">Hello</button>*@
<div class="row">
        @foreach (var player in Model)
        {
            Html.RenderPartial("_loginPlayer", player);
        }
</div>

<form id="playerForm" method="post" action="/Home/Scoreboard">
    <input type="hidden" name="idp1" />
    <input type="hidden" name="imagep1" />
    <input type="hidden" name="namep1" />
    <input type="hidden" name="idp2" />
    <input type="hidden" name="imagep2" />
    <input type="hidden" name="namep2" />
</form>

