@{
    ViewBag.Title = "BD PingPong Master";
}

<div class="jumbotron">
    <h1>BD PingPong Master</h1>
    <p class="lead">Ping pong score keeper, timer, and rankings</p>
</div>


<div class="center">
    <input class="beginButton scoreboard__button" type="button" value="Begin Game!" onclick="location.href='@Url.Action("GameOptions", "Home")'" />
</div>


