@{
    ViewBag.Title = "BuildDirect PingPong Masters";
}
<h2>@ViewBag.Message</h2>

<p></p>

<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <div><img class="profileImage" src="~/Content/images/woman.jpg" /></div>
            </div>
            <div class="col-sm-6">
             <p> Name: Bessie Chan</p>
             <p> Rank: 1/10</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <div><img class="profileImage" src="~/Content/images/jeff.jpg" /></div>
            </div>
            <div class="col-sm-6">
                <p> Name: Bob Chan</p>
                <p> Rank: 1/10</p>
            </div>
        </div>
    </div>
    <div class="score col-sm-6" contenteditable="true">
        0
    </div>
    <div class="score col-sm-6" contenteditable="true">
        0
    </div>
</div>


